.card {
  margin: 0rem 0 1rem 0;
  padding: 1rem;
  width: 99%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col-1 {
  width: 5%;
  padding-right: 1rem;
}
.col-2 {
  min-width: 6rem;
  width: 5%;
  padding-right: 2rem;
}
.col-3 {
  min-width: 6rem;
  width: 15%;
  padding-right: 1rem;
  margin-right: 1rem;
}
.col-4 {
  width: 40%;
  padding-right: 1rem;
}
.col-5 {
  width: 20%;
  padding-right: 1rem;
}

tr:nth-child(even) {
  background: #dfe6ff;
}
tr:nth-child(odd) {
  background: #fff;
}

thead {
  font-size: 1rem;
}
